@import url("font-awesome.css");
@font-face {
   font-family: "Mont";
   src: url('../fonts/Fontfabric-Mont-Bold.otf');
}

html, body {
	margin: 0;
	padding: 0;
	font-family: "Mont", sans-serif;
	font-size: 12pt;
}

body {
	min-height: 100%;
}

header {
	background: #FFFFFF;
}

header h1{
	display: inline;
	vertical-align: middle;
}

header {
    height: 50px;
		position: fixed;
		padding-bottom: 1ex;
}

footer {
	padding-top: 2ex;
	padding-bottom: 2ex;
  bottom:0;
}

.logo {
	height: 95%;
	vertical-align: middle;
	padding-left: 2px;
}

img.centered{
  flex: none; /* keep aspect ratio */
}

div.centeredImage {
	display: flex;
	justify-content: center;
	height: 1080px; /* or other desired height */
	max-width: 1680px;
	overflow: hidden;
}


header, footer {
	width: 100%;
}

header, footer *{
	text-align: center;
	margin: auto;
}

.fa {
	font-size: 10em;
}

header ul {
	list-style:none;
  padding-left:0;
}

.contact li {
  display: inline-block;
  padding: 0 10px;
  border-right: 1px solid #ccc;
}

.contact li:first-child {
  padding-left: 0px;
}

.contact li:last-child {
  border-right: none;
  padding-right: 0px;
}

/*Change Link Color*/
a {
  color: #000000;
  text-decoration: none;
}

a:hover {
    color: #003083;
    text-decoration: underline;
}
